@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

  html {
    
  }

  body {
    @apply bg-white text-black
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-bold tracking-tight
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl
  }

  h3 {
    @apply text-2xl sm:text-3xl md:text-4xl
  }

  li {
    @apply cursor-pointer
  };

  p {
    @apply text-lg sm:text-base md:text-lg
  }
}