@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

/* @layer base {
  :root { font-family: 'Space Grotesk', sans-serif; }
@support (font- variation-settings: normal) {
  :root { font-family: 'Space Grotesk var', sans-serif; }
} */

html {
  
}

body {
  @apply bg-white text-zinc-900

}

/* color dark mode */

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-black text-zinc-100
  }
}  

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold
}

h1 {
  @apply text-4xl sm:text-5xl md:text-6xl font-bold tracking-tight
}

h2 {
  @apply text-3xl sm:text-4xl md:text-5xl
}

h3 {
  @apply text-2xl sm:text-3xl md:text-4xl
}

li {
  @apply cursor-pointer
};

p {
  @apply text-[17px] sm:text-base 
}
}

.expandable {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show before truncating */
  -webkit-box-orient: vertical;
  transition: max-height 0.5s ease-in-out;
}

.expandable.expand {
  -webkit-line-clamp: unset; /* remove the line clamp when expanded */
  max-height: none; /* remove the maximum height when expanded */
}